.bars{
    width: 30%;
    position: relative;
    display: none;
}
.con-one{
    width: 40px;
    height: auto;
    direction: rtl;
    position: absolute;
    top: 5px;
    right: 5px;
}
.bars ul{
    margin: 0px;
    padding:5px 0px;
    min-width:140px ;
    border-radius: 5px;
    text-align: start;
    background-color: #33211D ; 
    position: absolute;
    top: 50px;
    right: 5px;
    display: none;
}
.bars:hover ul{
    display: block;
}
.bars li{
    padding: 10px 0px 10px 10px;
}
.bars li:not(:last-child){
    border-bottom: 0.25px solid  #fff  ;
}
.bars a{
    color: #fff ;
    transition: 0.5s;
}
.bars a:hover{
    padding-left: 20px;
    color: #DA9F5B;
}
.bars span{ 
    display: block;
    margin: 5px 0px;
    border-radius: 50px;
}
.bar-1{
    width: 40px;
    height: 5px;
    background-color: #DA9F5B;
}
.bar-2{
    width: 25px;
    height: 5px;
    background-color:  #fff  ;
    transition: 0.3s;
}
.bars:hover .bar-2{
    width: 40px;
    background-color: #DA9F5B;
}
/* .................for all.............. */
@media (min-width:200px) and (max-width:1200px){ 
    body{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "par par par par par par par par par par par par par par par";
    }
    nav{
        display: none;
    }
    .bars{
        display: block;
    }
    .top{
        position: fixed;
        z-index: 999;
        background-color: #33211D;
    }
    .menu{
        display: none;
    }
    .container{
        width: 85%;
        margin: auto;
        font-size: 20px;
        text-align: center;
    }
    .container p,.container h3{
        width: 90%;
    }
    .container span{
        font-size: 75px;
    }
    .one{
        margin:15px auto;
    }
    .about{
        margin: 35px auto;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .about .info{
        width: 95%;
        margin:50px auto;
    }
    .about .info>p{
        width: 95%;
    }
    .about .photo{
        width: 95%;
        margin: auto;
    }
    .subtitle{
        flex-wrap: wrap;
    }
    .connection{
        flex-wrap: wrap;
    }
    .inform,.form{
        width: 95%;
        margin: auto;
    }
    footer{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    footer div{
        margin-bottom:10px ;
        width: 65%;
        border-bottom: 1px solid #fff;
    }
    .foot-right{
        border: none;
    }
    .foot-left{
        width: 51%;
    }
    .task{
        margin:20px auto;
    }
    .ranges{
        flex-wrap: wrap;
    }
}

/* .................phones.............. */
   /* ...home... */
@media (min-width:200px) and (max-width:600px){ 
    .one{
        width: 90%;
    }
    .task{
        width: 85%;
    }
    .lang,.design{
        width: 90%;
        margin: 30px 0px;
    }
}
/* .................tablets.............. */
@media (min-width:600px) and (max-width:768px){ 
    .one{
        width: 90%;
    }
    .task{
        width: 45%;
    }
    .lang,.design{
        width: 90%;
        margin: 30px 0px;
    }
}
/* .................laptops.............. */
@media (min-width:768px) and (max-width:992px){ 
    .one{
        width: 47%;
    }
    .task{
        width: 45%;
    }
}
/* .................large.............. */
@media (min-width:992px) and (max-width:1200px){ 
    .one{
        width: 47%;
    }
    .task{
        width:30%;
    }
}